<section class="hero is-medium has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-multiline">
                <div data-aos="zoom-in-up" class="column is-12">
                    <h1 class="title titled is-1 mb-6">Technology Stack </h1>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>

                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>
                <div class="column is-3">
                    <a href="#">
                        <figure class="image is-2by1 work-item"
                            style="background-image: url('https://picsum.photos/320/180?image=10');"></figure>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>